nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: transparent;
    position: absolute;
    top: 0;
    width: 100%;
z-index: 8;
    .Pulse {
        color: white;
        font-size: 30px;
    }

    .NavbarMain {
        #navbarUl {
            color: white;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;

        }
    }

    .Reservation {
        color: white;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #mobile {
        display: none;
        .burger{
            font-size: 22px;
            color: white;
        }
    }
}

@media only screen and (max-width: 986px) {
    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;

        .Pulse {
            font-size: 30px;
        }

        .NavbarMain {
            #navbarUl {

                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 30px;

                li {
                    display: none;
                }

            }
        }

        .Reservation {
            display: none;
            font-size: 20px;
            // display: flex;
            // align-items: center;
            // justify-content: center;
        }

        #mobile {
            display: block;

            .burger {
                font-size: 30px;
            }
        }
    }
}