nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
background-color: brown;
    .Pulse {
        font-size: 30px;
    }

    .NavbarMain {
        #navbarUl {
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;

        }
    }

    .Reservation {
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #mobile{
        display: none;
    }
}
@media only screen and (max-width: 926px){
    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
    background-color: brown;
        .Pulse {
            font-size: 30px;
        }
    
        .NavbarMain {
            #navbarUl {
                
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 30px;
                li{
                    display: none;
                }
    
            }
        }
    
        .Reservation {
            display: none;
            font-size: 20px;
            // display: flex;
            // align-items: center;
            // justify-content: center;
        }
        #mobile{
            display: block;
.burger{
    font-size: 30px;
}
        }
    }
}