.HeaderArea{
    display: flex;
    align-items: center;
    justify-content: center;
    .Text{
        h1{
            font-size: 60px;
        }
        color: white;
        position: absolute;
        z-index: 999;
    }
}
@media only screen and (max-width: 484px){
    .HeaderArea{
        display: flex;
        align-items: center;
        justify-content: center;
        .Text{
            h1{
                font-size: 40px;
            }
            color: white;
            position: absolute;
            z-index: 999;
        }
    }
}